<section class="signup-section">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="popular__product">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4>Popular Shows</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                <a href="#" class="primary-btn"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 col-sm-6"
              *ngFor="let anime of displayedAnimes"
            >
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  [style.backgroundImage]="'url(' + anime['Image URL'] + ')'"
                >
                  <div class="ep">{{ anime.Episodes }} episode(s)</div>
                  <div class="score">
                    <i class="fa fa-comments"></i>{{ anime.Score }}
                  </div>
                  <div class="score_By">
                    <i class="fa fa-eye"></i>{{ anime["Scored By"] }}
                  </div>
                </div>
                <div class="product__item__text">
                  <h5>
                    <a>{{ anime.Name }}</a>
                  </h5>
                  <ul class="statusType_List">
                    <li class="status">Status: {{ anime.Status }}</li>
                    <li *ngFor="let genre of getGenres(anime)">{{ genre }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
